{{ if or .Params.contentCopyright (and .Site.Params.contentCopyright (ne .Params.contentCopyright false)) }}
<div class="post-copyright">
  <p class="copyright-item">
    <span class="item-title">{{ i18n "author" }}</span>
    <span class="item-content">
      {{- $author_id := .Params.author | default .Site.Author.name -}}
      {{- $author := (index ($.Site.Data.authors | default dict) $author_id) -}}
      {{- $author_lang := (index ($author | default dict) .Site.Language.Lang) -}}
      {{- $author_name := $author_lang.name.display | default $author.name.display | default $author_id -}}
      {{- with $.Site.GetPage "taxonomy" (printf "author/%s" $author_id) -}}
      <a href="{{ .Permalink }}" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">{{ $author_name | safeHTML }}</a>
      {{- else -}}
      <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">{{- $author_name | safeHTML -}}</span>
      {{- end -}}
      </span>
  </p>
  <p class="copyright-item">
    <span class="item-title">{{ i18n "lastMod" }}</span>
    <span class="item-content">{{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span>
  </p>
  {{ if $.Site.Params.linkToMarkDown -}}
{{ if .File.Path }}

{{ $Rmd := (print .File.BaseFileName ".Rmd") }}

{{ if (where (readDir (print "content/" .File.Dir)) "Name" $Rmd) }}
  {{ $.Scratch.Set "FilePath" (print .File.Dir $Rmd) }}
{{ else }}
  {{ $.Scratch.Set "FilePath" .File.Path }}
{{ end }}

{{ with .Site.Params.GitlabEdit}}

    <p class="copyright-item">
      <span class="item-title">{{ i18n "markdown" }}</span>
      <span class="item-content"><a class="link-to-markdown" href="{{ . }}{{ $.Scratch.Get "FilePath" }}" rel="noopener" target="_blank">{{ i18n "seeMarkDown" }}</a></span>
    </p>
{{ end }}

{{ end }}
  {{- end }}
  <p class="copyright-item">
    <span class="item-title">{{ i18n "license" }}</span>
    <span class="item-content">
    {{- if .Params.contentCopyright -}}
      {{ .Params.contentCopyright | safeHTML }}
    {{- else -}}
      {{ .Site.Params.contentCopyright | safeHTML }}
    {{- end -}}
    </span>
  </p>
</div>
{{- end }}
