<div class="social-links">
  {{ partial "social_links.html" . }}
</div>

<div class="copyright">

  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    {{ if ne .Site.Params.since $current }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    {{ partial "version.html" }}
  </span>

  <!-- Counter busuanzi -->
  {{ if .Site.Params.counter.busuanzi.enable }}
    <span id="busuanzi_container">
      访客数/访问量：<span id="busuanzi_value_site_uv"></span>/<span id="busuanzi_value_site_pv"></span>
    </span>
  {{ end }}

  {{ if .Site.Params.customFooter }}
    <span>
      {{ .Site.Params.customFooter }}
    </span>
  {{ end }}
</div>
