{{/* This file show footer social icons */}}

{{- range $name, $path := .Site.Params.social }}
  {{/* social icons */}}
  {{- if $path }}
    {{- $realName := slicestr $name 2 }}
    {{- $filePath := (print "svg/" $realName ".svg") }}
    {{ if (hasPrefix $path "mailto:") }}<a rel="me noopener" class="iconfont" title="{{ $realName }}" href="&#109;&#097;&#105;&#108;&#116;&#111;&#58;{{ (slicestr $path 7) | safeURL }}">{{ partial $filePath }}</a>{{ else }}
    <a href="{{ $path | safeURL }}" rel="me noopener" class="iconfont" title="{{ $realName }}">{{ partial $filePath }}</a>{{ end }}
  {{- end }}
{{- end }}

<a href="{{ "/about/javascript/" | relURL }}" title="JavaScript license information" class="iconfont" rel="jslicense"><span id="jslicenseicon"></span></a>

{{/* RSS icon  */}}
{{ with .Site.GetPage "home" -}}
  {{- with .OutputFormats.Get "RSS" -}}
  <a href="{{ .Permalink }}" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}"
    class="iconfont" title="rss" target="_blank">
    {{ partial "svg/rss.svg" }}
  </a>
  {{ end -}}
{{- end -}}
