#jslicenseicon {
	background-image: url('/images/sprites.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-size: 50px;
  padding-left: 50px;
  padding-top: 20px;
}
#jslicenseicon:hover {
	background: url('/images/sprites.png');
	background-repeat: no-repeat;
	background-position: 0 -45px;
	background-size: 50px;
  padding-left: 50px;
  padding-top: 20px;
}